<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gesture Detection App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evSXBZdN/wnnTUN9K9lQp5rYzSC6qQtgO1nIGbgZedJCmwzYj3yBnPlPlQ9zCYLq" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Welcome to the Gesture Detection App!</h1>
        <p>Click the button below to open the gesture detection interface.</p>
        <a href="{{ url_for('video_feed') }}" class="btn btn-primary btn-lg">Start Gesture Detection</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ppWq28aU3opjIcbcLJMsNsPg62Blrx1o+T6hCX7mFs3gT5vL19i9u+AWCSb8dhcO" crossorigin="anonymous"></script>
</body>
</html>
