<!DOCTYPE html>
<style>
    .btn {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
</style>
<html>
<head>
    <title>Gesture Detection App</title>
</head>
<body>
    <h1>Welcome to the Gesture Detection App!</h1>
    <p>Click the button below to open the gesture detection interface.</p>
    <a href="{{ url_for('video_feed') }}" class="btn btn-primary">Start Gesture Detection</a>
</body>
</html>
